keywordsfromimage.txt
NearBuy_Project_Plan.html
NearBuy_Project_Plan.md
docs

backend/node_modules/
backend/dist/
backend/.env
backend/uploads/

frontend/node_modules/
frontend/.next/
frontend/.env.local

python-services/__pycache__/
python-services/.venv/

*.zip


demo_frontend